{% extends 'socialnetwork/base_blog.html' %}

{% for name in names %}
    <p>
        {{ name }}
    </p>
{% endfor %}

{% block title %}
    News
{% endblock %}

{% block content %}
{#    <form class="form-inline m-5" action="{% url 'search_results_url' %}" method="get">#}
{#        <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">#}
{#        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#    </form>#}
    <form action="" class="m-5">
        <h1>News:</h1>
        {% for news in news %}
            <div class="card mb-4" style="width: 40rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ news }}</h5>
{#                    <a href="{{ news.get_absolute_url }}" class="btn btn-light">Read</a>#}
                </div>
            </div>
        {% endfor %}
    </form>
{% endblock %}